force-app/main/default/flows/ListOrderItemsFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>JSON_1</name>
        <label>注文商品のJSON取得 アクション 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OrderItemsFetcher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>X1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderNumber</name>
            <value>
                <elementReference>val_orderNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderItemsFetcher</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>X1</name>
        <label>割り当て 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_resultJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JSON_1.resultJSON</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>注文商品一覧取得フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>注文商品一覧取得フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JSON_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>val_orderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_resultJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
