force-app/main/default/flows/ReturnFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>slackSendMessageAction</name>
        <label>slackSendMessageAction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SlackMessageAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>C09LZCBM7TN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue> Send Message By Agent</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SlackMessageAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setStatusNo</name>
        <label>設定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>却下</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>slackSendMessageAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setStatusYes</name>
        <label>設定</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>承認済み</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>slackSendMessageAction</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>no</name>
        <choiceText>却下</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ok</name>
        <choiceText>承認</choiceText>
        <dataType>String</dataType>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>check</name>
        <label>チェック</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>setStatusNo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>却下</defaultConnectorLabel>
        <rules>
            <name>UniqueName2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueName1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ok</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setStatusYes</targetReference>
            </connector>
            <label>承認</label>
        </rules>
    </decisions>
    <description>簡易なフローを一応作成
=&gt; 商品ステータスの更新のみ</description>
    <environments>Default</environments>
    <interviewLabel>返品処理 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>返品処理</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>UniqueName</name>
        <label>返品画面</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check</targetReference>
        </connector>
        <fields>
            <name>UniqueName1</name>
            <choiceReferences>ok</choiceReferences>
            <choiceReferences>no</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>no</defaultSelectedChoiceReference>
            <fieldText>選択肢</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>次へ</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UniqueName</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>商品オブジェクト</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
